# Centos 7 / Debian Buster
# 存放位置 /usr/lib/systemd/system
# 开启 systemctl start natapp
# 关闭 systemctl stop natapp
# 开机启动 systemctl enable natapp
# 取消开机启动 system disable natapp

[Unit]
Description=NatApp Service
Wants=network-online.target
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/local/natapp/natapp -authtoken=xxxxxx -log=stdout
# syslog output type for StandardOutPut is obsoleted.
StandardOutput=journal
StandardError=null

# Hardening Require systemd 235+
AmbientCapabilities=CAP_NET_BIND_SERVICE
DynamicUser=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
